<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">



  <a href="192.168.43.176:3000/login" class="card credentialing">
    <div class="overlay"></div>
    <div class="circle">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="731.67004"
        height="625.99672" viewBox="0 0 731.67004 625.99672">
        <path id="uuid-5ef434d5-ec3b-4be2-96d4-c13c471d6de8-601"
          d="M376.76337,311.69684c2.62042,10.50058-.88501,20.35364-7.82874,22.00711-6.9437,1.6535-14.69479-5.51819-17.31467-16.02283-1.10635-4.18195-1.15591-8.56552-.14453-12.784l-10.51895-44.63046,21.86432-4.45937,8.04852,44.47118c2.88568,3.29129,4.90674,7.20667,5.89404,11.41837,0,0,0,.00003,0,0Z"
          fill="#fdadb0" />
        <g>
          <polygon
            points="285.09476 566.89746 286.44183 596.14917 285.0928 604.24353 289.81448 613.68689 326.91345 617.73407 328.93704 600.19635 309.37576 590.07843 308.80716 573.55005 285.09476 566.89746"
            fill="#fdadb0" />
          <path
            d="M324.21533,610.98877l-2.02359,2.69812-38.85165-11.19604s1.75269,17.26678,1.75269,20.63947,64.08002,3.37262,73.72256,2.02356,6.54608-10.11792,6.54608-10.11792l-39.9877-18.92865-1.15842,14.88147h.00003Z"
            fill="#2f2e43" />
        </g>
        <g>
          <title>Computer</title>
          <polygon
            points="188.43921 545.36505 180.3541 573.50946 176.48561 580.7464 177.93686 591.20416 211.78952 606.91113 219.31921 590.94342 204.0247 575.09747 213.6188 550.21924 188.43921 545.36505"
            fill="#fdadb0" />
          <path
            d="M211.39197,599.65723l-2.78062,1.90863-33.22536-23.04083s-3.86533,16.91962-4.94466,20.11487,59.63062,23.70258,69.19777,25.51038,9.43983-7.49084,9.43983-7.49084l-31.82701-30.73029-5.85995,13.72815h.00002l-.00002-.00006Z"
            fill="#2f2e43" />
        </g>
        <polygon points="287.70996 83.9671 289.12659 106.97251 246.16866 109.15169 259.47134 78.84175 287.70996 83.9671"
          fill="#fdadb0" />
        <path
          d="M290.22263,103.53149c-11.5144,5.13574-29.93115,3.73068-50.80225,0l-3.26205,144.59672s65.2879,13.12622,87.73538-11.0934l-11.81445-118.14453-21.85663-15.3588s0,.00002,0,.00002Z"
          fill="#e0e1e2" />
        <polygon
          points="316.80505 240.57915 224.63489 249.689 179.1496 558.53558 214.00221 558.53558 273.68228 346.90921 278.40808 586.74255 310.3071 586.74255 337.48035 293.15347 316.80505 240.57915"
          fill="#2f2e43" />
        <path
          d="M252.52422,94.67065l-30.96834,18.32601c-11.73149,6.9423-17.26108,20.9566-13.43071,34.03909l23.9342,81.74651s-38.97484,66.95746-26.31018,72.86465c28.4593,13.27441,70.92659,10.04227,70.92659,10.04227l-9.49146-160.30917-14.66013-56.70937,.00002,.00002s0-.00002,0-.00002Z"
          fill="#3f3d58" />
        <path
          d="M288.87726,102.92358l35.01645,13.60382,8.27011,101.01359,23.16013,81.37585c-39.22784,14.31915-35.56531,7.64648-35.56531,7.64648l-6.49796-140.41524-24.38345-63.22452,.00003,.00002s0-.00002,0-.00002Z"
          fill="#3f3d58" />
        <path
          d="M340.03061,297.19608l-.11996-.5528-35.79376-165.55103c-1.00015-4.62562,.2789-9.2623,3.50848-12.72181,3.22968-3.46,7.76883-5.05348,12.453-4.37245,5.77716,.83993,10.4024,5.04821,11.7822,10.72128l39.31598,161.6061-31.1459,10.8707h-.00003Z"
          fill="#3f3d58" />
        <circle cx="269.06998" cy="55.22682" r="34.85209" fill="#fdadb0" />
        <path
          d="M285.65121,10.07328c7.67664,2.69811,12.06934,4.24203,16.09317,8.11845,6.7966,6.5479,7.9184,15.29825,8.96057,23.4287,.8154,6.36049,1.86963,14.5842-1.85501,23.97997-1.27109,3.20641-7.43674,17.49225-19.23843,19.29762-2.31772,.3545-7.75916,.44773-6.19073-.71022,14.51544-10.71641,20.71027-17.18593,20.20239-33.70173-.31549-10.26221-15.99649-21.34199-25.30756-23.33377-3.92233-.83893-9.14426-.07252-12.88876,3.00152-7.82565,6.42446-7.49179,32.99092-15.74361,38.5444-3.39352,2.2839-1.13228-13.79295-3.52356-11.18581-4.71809,5.14422-1.69165,13.02216-.84383,16.02233,4.02164,14.23081,11.60382,15.62369,15.53183,27.77607,4.24091,13.12018-1.09653,25.47273-2.3623,28.40192-2.20163,5.0956-5.98048,13.84068-14.61356,18.03613-10.95815,5.32527-19.59561-1.60928-24.69019,4.33572-2.84799,3.32346-1.30746,6.84323-6.45113,17.1805-1.67912,3.37442-2.51868,5.06184-3.26193,5.00195-3.51727-.2832-9.21196-28.43777-.00171-54.65797,3.86536-11.00368,7.65221-21.78448,17.80276-30.21467,5.36661-4.45687,9.86757-6.0607,11.14871-11.2654,1.83022-7.4356-5.76976-10.60925-7.29326-22.3414-1.04176-8.02364-1.77267-19.49902,1.06029-26.85414,2.67509-6.94578,4.99741-12.97519,11.076-18.44197,1.4599-1.31307,13.24496-10.23845,25.7406-10.49022,5.75281-.11574,9.97934,7.72783,16.64917,10.072h.00006Z"
          fill="#2f2e43" />
        <g>
          <circle cx="359.29443" cy="229.27966" r="85.24289" fill="#4fc391" />
          <g>
            <path
              d="M337.72504,284.89374c5.17474-18.66635,10.34946-37.3327,15.52423-55.99905,1.10168-3.97395,1.95407-8.3876,4.47568-11.76016,1.94949-2.60733,5.01575-4.31322,8.26102-3.24098,7.7373,2.55643,7.61206,13.72102,7.47461,20.23466-.20746,9.83305-2.42706,19.64349-6.51288,28.59372-.56033,1.22742-.35031,2.69101,.89688,3.42047,1.07474,.6286,2.85709,.33725,3.42047-.89688,4.09116-8.96194,6.52292-18.55484,7.08868-28.39792,.48813-8.49306,.52472-19.69337-6.83652-25.48187-3.59787-2.82918-8.19009-3.66963-12.40845-1.71413-4.16846,1.93239-6.71384,5.93346-8.31454,10.0761-1.77991,4.60645-2.83997,9.54617-4.15762,14.29919l-4.24594,15.31598c-3.16235,11.40723-6.32468,22.81442-9.487,34.22165-.86093,3.10547,3.96158,4.43073,4.82141,1.32919h0v.00003h-.00003Z"
              fill="#fff" />
            <path
              d="M359.89587,258.89703c3.20197-12.01877,4.83801-24.44736,4.85159-36.88538,.00351-3.21741-4.99649-3.22243-5,0-.01312,12.01666-1.57947,23.94449-4.67297,35.55618-.82922,3.11255,3.99252,4.44043,4.82141,1.32919h-.00003Z"
              fill="#fff" />
            <path
              d="M308.49368,258.7525c3.35089-16.15695,6.97797-32.36552,11.62894-48.20441,3.77136-12.84329,10.27396-27.39745,23.99814-32.05405,6.81589-2.31264,14.20358-1.94012,21.17993-.59821,6.91779,1.33066,13.92474,3.31119,20.30063,6.34035,6.03555,2.86748,11.61917,6.81976,15.59235,12.26434,3.92212,5.37459,6.36456,11.61198,7.68094,18.10706,3.05499,15.07307-.54111,30.47136-4.56973,44.9991-.53616,1.93353-1.08441,3.86365-1.63303,5.79367-.88138,3.10052,3.94162,4.4241,4.82141,1.32919,4.45242-15.66275,9.07721-32.02472,7.00284-48.46307-.89713-7.10921-2.89136-14.09305-6.4451-20.35001-3.6416-6.41167-8.896-11.65268-15.19507-15.46211-6.35269-3.84186-13.5043-6.28763-20.66531-8.12315-7.60632-1.94968-15.52185-3.14977-23.35599-2.06024-7.3873,1.02737-14.04276,4.52979-19.2739,9.81796-5.35913,5.41759-8.98306,12.18707-11.65723,19.26202-2.94922,7.80266-4.87515,15.99947-6.90399,24.07716-2.14438,8.53775-4.14493,17.11163-6.0004,25.71681-.45087,2.09097-.89249,4.18393-1.32687,6.27838-.27393,1.32083,.38547,2.70145,1.74609,3.07529,1.23889,.34042,2.79984-.41788,3.07529-1.74609h.00006Z"
              fill="#fff" />
            <path
              d="M334.26349,207.06648c3.89905-11.83141,16.45471-19.15616,28.61121-18.34444,13.4747,.89973,25.15411,10.74054,29.88474,23.12387,2.811,7.35831,3.6362,15.45682,2.45441,23.24283-.20236,1.33325,.33603,2.68785,1.74609,3.0753,1.18198,.32478,2.87146-.40312,3.07529-1.74609,2.36209-15.56232-1.97873-32.51962-14.22617-43.04318-5.7431-4.93472-12.77701-8.35027-20.30704-9.37296-7.24118-.98344-14.5412,.35677-20.95197,3.8819-7.03223,3.86688-12.58749,10.20531-15.108,17.85359-1.00946,3.06313,3.81729,4.37608,4.82141,1.32919h0l.00003-.00002Z"
              fill="#fff" />
            <path
              d="M323.62473,229.9975c-1.07385,12.82616-4.30664,25.50906-9.53668,37.27271-.5481,1.23282-.35834,2.68628,.89688,3.42047,1.06537,.62314,2.8692,.34311,3.42047-.89688,5.61353-12.62622,9.06622-26.02362,10.2193-39.7963,.11279-1.34721-1.22977-2.5-2.5-2.5-1.44635,0-2.3869,1.14893-2.5,2.5h.00003Z"
              fill="#fff" />
            <path
              d="M384.02057,244.31487c-1.07385,12.82616-4.30664,25.50905-9.53668,37.27272-.5481,1.23282-.35834,2.68628,.89688,3.42047,1.06537,.62314,2.8692,.34311,3.42047-.89688,5.61353-12.62622,9.06622-26.02362,10.2193-39.7963,.11279-1.34721-1.22977-2.5-2.5-2.5-1.44635,0-2.3869,1.14893-2.5,2.5h0l.00003-.00002Z"
              fill="#fff" />
            <path
              d="M336.20508,234.36423c3.21506-12.74895,8.54202-24.83105,15.76917-35.81441,1.77386-2.6958-2.55405-5.20335-4.31735-2.52361-7.44406,11.313-12.96176,23.87781-16.27319,37.0088-.78705,3.12094,4.03378,4.45233,4.82141,1.32919h0v.00002h-.00003Z"
              fill="#fff" />
          </g>
        </g>

        <path id="uuid-ed8d5917-2465-4251-8a73-24d647765b28-602"
          d="M287.3429,211.89523c10.76318-1.13242,20.03201,3.71107,20.70233,10.81741,.67032,7.10631-7.51099,13.78305-18.27817,14.91438-4.29523,.51312-8.64301-.04831-12.67953-1.63736l-45.66046,4.20064-1.37079-22.27231,45.15866-1.77646c3.66113-2.39919,7.81982-3.85522,12.12796-4.24631,0,0,.00003,0,0,0Z"
          fill="#fdadb0" />
        <path
          d="M231.71271,114.05334h-.00005c-11.05269-1.55672-21.42206,5.71055-23.71935,16.63335-8.01482,38.10753-22.39742,119.28123,.19211,120.63661,29.53613,1.77217,57.89081-5.3165,57.89081-5.3165l-7.08868-40.75986-23.03818-2.36288,13.55157-63.38637c2.5731-12.03547-5.60107-23.72783-17.78825-25.44434l.00002-.00002Z"
          fill="#3f3d58" />
      </svg>

    </div>
    <p>ورود</p>
  </a>






















  <a href="#" class="card wallet">
    <div class="overlay"></div>
    <div class="circle">


      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-name="Layer 1"
        width="711.1879" height="669.68268" viewBox="0 0 711.1879 669.68268">
        <title>Computer</title>
        <polygon
          points="516.326 380.018 516.326 565.013 547.27 615.443 549.625 619.279 671.722 619.279 674.189 380.018 516.326 380.018"
          fill="#e6e6e6" />
        <polygon points="516.326 380.018 516.326 565.013 547.27 615.443 549.169 380.018 516.326 380.018"
          opacity="0.1" />
        <polygon
          points="221.566 375.084 221.566 560.08 190.622 610.51 188.267 614.345 66.17 614.345 63.703 375.084 221.566 375.084"
          fill="#e6e6e6" />
        <polygon points="221.566 375.084 221.566 560.08 190.622 610.51 188.723 375.084 221.566 375.084" opacity="0.1" />
        <polygon
          points="711.188 371.385 711.188 382.484 47.67 382.484 47.67 366.451 109.335 334.385 656.923 334.385 711.188 371.385"
          fill="#e6e6e6" />
        <polygon points="711.188 371.385 711.188 382.484 47.67 382.484 47.67 366.451 711.188 371.385" opacity="0.1" />
        <polygon points="142.635 426.883 113.035 426.883 100.702 418.25 156.201 418.25 142.635 426.883"
          fill="#3f3d56" />
        <polygon points="142.635 462.649 113.035 462.649 100.702 454.016 156.201 454.016 142.635 462.649"
          fill="#3f3d56" />
        <polygon points="142.635 513.215 113.035 513.215 100.702 504.581 156.201 504.581 142.635 513.215"
          fill="#3f3d56" />
        <polygon points="142.635 563.78 113.035 563.78 100.702 555.147 156.201 555.147 142.635 563.78" fill="#3f3d56" />
        <polygon points="595.257 431.816 624.857 431.816 637.19 423.183 581.691 423.183 595.257 431.816"
          fill="#3f3d56" />
        <polygon points="595.257 467.582 624.857 467.582 637.19 458.949 581.691 458.949 595.257 467.582"
          fill="#3f3d56" />
        <polygon points="595.257 518.148 624.857 518.148 637.19 509.515 581.691 509.515 595.257 518.148"
          fill="#3f3d56" />
        <polygon points="595.257 568.713 624.857 568.713 637.19 560.08 581.691 560.08 595.257 568.713" fill="#3f3d56" />
        <path
          d="M859.81989,235.61493H610.63446a9.4227,9.4227,0,0,0-9.42389,9.42389V412.89655a9.4227,9.4227,0,0,0,9.42389,9.42388h94.5929l-3.54389,22.62623s-20.25281,10.75927-6.01251,11.07574,81.32764,0,81.32764,0,12.97448,0-7.59479-11.39221l-3.33362-22.30976h93.7497a9.42266,9.42266,0,0,0,9.42388-9.42388V245.03882A9.42266,9.42266,0,0,0,859.81989,235.61493Z"
          transform="translate(-244.40605 -115.15866)" fill="#3f3d56" />
        <rect x="365.82336" y="130.42445" width="249.99557" height="139.87094" fill="#f2f2f2" />
        <circle cx="490.82114" cy="125.99415" r="1.58225" fill="#f2f2f2" />
        <circle cx="490.82114" cy="294.34559" r="6.01255" fill="#f2f2f2" />
        <polygon
          points="481.452 357.952 481.452 361.117 311.202 361.117 311.202 358.585 311.436 357.952 315.632 346.56 477.971 346.56 481.452 357.952"
          fill="#3f3d56" />
        <path
          d="M791.37558,470.01266c-.31011,1.3259-1.481,2.72467-4.1265,4.04741-9.4935,4.74675-28.797-1.2658-28.797-1.2658s-14.87315-2.53161-14.87315-9.17706a11.86592,11.86592,0,0,1,1.30377-.77528c3.99133-2.11163,17.2253-7.32222,40.69051.22062a9.78618,9.78618,0,0,1,4.46035,2.923A4.667,4.667,0,0,1,791.37558,470.01266Z"
          transform="translate(-244.40605 -115.15866)" fill="#3f3d56" />
        <path
          d="M791.37558,470.01266c-11.62,4.45247-21.97744,4.78472-32.607-2.59805a23.34328,23.34328,0,0,0-13.88583-4.57268c3.99133-2.11163,17.2253-7.32222,40.69051.22062a9.78618,9.78618,0,0,1,4.46035,2.923A4.667,4.667,0,0,1,791.37558,470.01266Z"
          transform="translate(-244.40605 -115.15866)" opacity="0.1" />
        <ellipse cx="532.40017" cy="350.99016" rx="4.11385" ry="1.2658" fill="#f2f2f2" />
        <polygon
          points="481.452 357.952 481.452 361.117 311.202 361.117 311.202 358.585 311.436 357.952 481.452 357.952"
          opacity="0.1" />
        <path
          d="M339.06751,115.15881a8.55394,8.55394,0,0,0-4.96126,1.1083c-1.476,1.0108-2.40629,2.78162-3.35588,4.42947a52.98576,52.98576,0,0,1-14.43428,16.30464c-4.28894,3.142-9.74169,7.05966-9.00789,12.85269a17.37163,17.37163,0,0,0,2.09058,5.4255c3.9566,7.987,14.75357,14.15926,13.69156,23.27309,3.931-6.58092-1.327-9.835,2.604-16.41586,1.87205-3.134,5.12412-6.67168,7.95054-4.70353.94637.659,1.56777,1.84095,2.55314,2.41917,2.35122,1.37972,4.85259-1.258,6.93387-3.12633,7.17685-6.44263,17.383-4.7548,26.31387-2.74743,4.21624.94767,8.8473,2.191,11.33971,6.2207,3.277,5.29821-3.11344,11.02034-4.72807,17.01049a3.264,3.264,0,0,0,3.50293,4.06214c2.67975-.26434,5.8542-.481,6.01278-1.65694,3.37154.12,7.50269-.26181,8.94728-3.7725a14.76216,14.76216,0,0,0,.69252-4.29319c.5302-5.89718,3.0331-11.27719,4.69119-16.88993s2.37906-12.1905-.41909-17.1668a19.86362,19.86362,0,0,0-3.666-4.45557C379.94,117.67017,359.06259,115.136,339.06751,115.15881Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M326.54375,190.06386s3.4534,28.7784-9.20909,31.08068,11.51136,41.4409,11.51136,41.4409l57.55681,6.90682-13.81364-46.04545s-9.20909-3.45341-3.4534-26.47613S326.54375,190.06386,326.54375,190.06386Z"
          transform="translate(-244.40605 -115.15866)" fill="#ffb8b8" />
        <polygon points="47.028 569.318 51.633 632.631 75.806 632.631 68.9 569.318 47.028 569.318" fill="#ffb8b8" />
        <polygon points="224.303 449.6 227.756 502.552 254.233 491.041 243.872 447.298 224.303 449.6" fill="#ffb8b8" />
        <path
          d="M274.16705,442.73826s1.15113,66.7659,8.058,88.63749,5.75568,23.02272,4.60455,26.47613-2.30228,1.15114-2.30228,6.90682-2.30227,96.69544,0,104.7534-6.90681,21.87159,0,23.02272,39.13863,0,40.28977-6.90682-9.20909-9.20909-4.60454-13.81363,11.51136-98.99772,11.51136-98.99772l16.11591-65.61476,29.92954-34.53409H441.0818l19.56932,75.975s-8.058,21.87159-2.30228,21.87159,40.28977,6.90682,40.28977-18.41818S487.12725,451.94735,484.825,449.64508s1.15113-10.36023-2.30228-13.81364-43.74317-27.62727-58.70794-32.23181S387.857,393.51476,387.857,393.51476Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M498.63861,596.99051s-17.267-5.75568-25.325,11.51137-4.60454,21.87159-4.60454,21.87159,26.47613,9.20909,31.08068,4.60454c2.00333-2.00334,8.36471-2.69926,14.91273-2.84621,9.97289-.22381,12.62625-14.33323,3.20748-17.61885q-.42145-.147-.85317-.25539C507.8477,611.95529,498.63861,596.99051,498.63861,596.99051Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <circle cx="108.03826" cy="59.36486" r="34.53409" fill="#ffb8b8" />
        <path
          d="M307.55,235.53374s56.40567,11.51136,70.21931-6.90682,19.56931,51.80113,19.56931,51.80113l6.90682,73.67272-10.36023,40.28977s-54.1034,43.74318-71.37044,47.19658-43.74318,5.75569-43.74318,5.75569,8.058-127.77613,8.058-130.0784S307.55,235.53374,307.55,235.53374Z"
          transform="translate(-244.40605 -115.15866)" fill="#8b6fc0" />
        <path
          d="M324.70433,213.94456s-12.54979-7.18923-16.0032-.28241S273.01591,237.836,269.5625,237.836s6.90682,95.54431,2.30227,107.05567S245.38864,440.436,258.05114,447.34281s3.45341-6.90682,16.11591,10.36022,74.82385,17.267,78.27726,10.36023-27.62727-58.708-21.87159-107.05567,14.96477-115.11362,6.90682-124.32271S324.70433,213.94456,324.70433,213.94456Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M366.258,221.7201l1.60341-5.518s47.89544,15.87824,50.19772,26.23847,1.15113,82.88181-6.90682,88.63749-19.56932,14.96477-11.51136,28.7784,17.267,28.77841,24.17386,29.92954,19.56931,9.20909,16.1159,17.267-44.89431-6.90682-44.89431-6.90682-27.62727-20.72045-26.47613-52.95227S366.258,221.7201,366.258,221.7201Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M406.54771,357.55418l-27.62727,51.80113s-40.28976,41.4409-17.267,46.04545,35.68522-37.9875,35.68522-37.9875l29.92955-42.592Z"
          transform="translate(-244.40605 -115.15866)" fill="#ffb8b8" />
        <path
          d="M340.74981,124.19457a7.83806,7.83806,0,0,0-4.03868.78334,9.41322,9.41322,0,0,0-2.73182,3.13072,39.77267,39.77267,0,0,1-11.7501,11.524c-3.49138,2.22077-7.93014,4.98972-7.3328,9.0842a11.35949,11.35949,0,0,0,1.70182,3.8347,30.16344,30.16344,0,0,1,3.66519,18.80068l9.60011-13.954c1.52393-2.21507,4.17125-4.7155,6.47207-3.32442.77039.46577,1.27623,1.30117,2.07836,1.70985,1.914.97518,3.95021-.88912,5.64447-2.20967,5.84225-4.55361,14.15049-3.36066,21.42059-1.94187,3.43219.66981,7.20207,1.54859,9.231,4.39676,3.37169,4.73311-.149,11.5721,1.81882,17.04a5.02339,5.02339,0,0,0,2.07852-3.31717c2.74457.08484,6.1075-.185,7.28345-2.66638a9.18757,9.18757,0,0,0,.56374-3.03439c.43161-4.16809,2.46907-7.97065,3.81883-11.93769s1.93666-8.61616-.34116-12.13338a14.68107,14.68107,0,0,0-2.98426-3.14917C374.02174,125.96958,357.02664,124.17845,340.74981,124.19457Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M406.54771,237.836l10.72528,2.84686s24.95995,63.919,19.20427,107.66222-9.20909,34.53409-9.20909,34.53409-9.20909-20.72046-29.92955-16.11591Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M293.02894,739.422c-2.77592,3.77228-2.21935,9.16459-4.67828,13.15075-2.13144,3.45526-6.14837,5.26695-8.81439,8.32869a22.32616,22.32616,0,0,0-2.26617,3.25987c-2.47311,4.14255-4.4833,9.45174-2.04761,13.61641,1.95936,3.35022,6.07786,4.65961,9.855,5.552,4.77407,1.128,9.73436,2.03071,14.56354,1.16876s9.54882-3.819,11.27067-8.41239a32.50011,32.50011,0,0,1,1.2051-3.4007c2.61747-5.15294,10.82749-5.20864,13.50628-10.33,1.87466-3.584.15138-7.91623-1.57118-11.57578l-5.26109-11.1771c-1.74592-3.70919-8.82362-1.57608-12.51339-2.46492C301.46518,735.97844,296.49084,734.70126,293.02894,739.422Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <path
          d="M254.59773,380.5769l48.34772,74.82386s29.92954,37.98749,39.13863,20.72045-32.23181-46.04545-32.23181-46.04545L278.77159,372.519Z"
          transform="translate(-244.40605 -115.15866)" fill="#ffb8b8" />
        <path
          d="M278.77159,240.13828,269.5625,237.836s-18.41818,5.75568-23.02272,29.92954-1.15114,120.86931,4.60454,122.02044,28.42725-16.83663,32.05624-13.02286-7.88238-15.75554-4.429-26.11577S278.77159,240.13828,278.77159,240.13828Z"
          transform="translate(-244.40605 -115.15866)" fill="#2f2e41" />
        <g id="f3c2397c-d780-4cc6-97d8-1503d8277a2c" data-name="Group 13">
          <rect id="ad41612f-86f7-46b2-a964-3a5da7bcf3cf" data-name="Rectangle 55" x="437.40692" y="176.36275"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="b9a0b375-cc2a-4c59-8850-661af54e4f62" data-name="Rectangle 56" x="559.72215" y="176.36275"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="e174c2ab-9bc5-41ec-b37c-b06fbf8a9878" data-name="Rectangle 57" x="580.65899" y="176.36275"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="ba2479ac-4c7d-43b4-a028-73b1e20e4002" data-name="Rectangle 58" x="477.62768" y="176.36275"
            width="71.07506" height="7.1626" fill="#8b6fc0" />
          <rect id="ac60ef86-00f2-480b-8171-28b6fdfc1958" data-name="Rectangle 59" x="399.94099" y="222.6442"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="b3d8298d-cd65-487a-8b19-4cee946356e7" data-name="Rectangle 60" x="522.25621" y="222.6442"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="ed27f15f-f0c4-4569-8330-a6688f8e356c" data-name="Rectangle 61" x="543.19305" y="222.6442"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="f685c005-adaf-4d60-acda-005b037d82a6" data-name="Rectangle 62" x="440.16176" y="222.6442"
            width="71.07506" height="7.1626" fill="#8b6fc0" />
          <rect id="eca7c7fc-83f8-48ca-a588-6606db47af3f" data-name="Rectangle 63" x="522.80718" y="192.34088"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="a71b5b2f-f8b9-481d-a301-5e3357e5fe42" data-name="Rectangle 64" x="563.02795" y="192.34088"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="abb3a25a-f854-41fc-8391-e6ad9fbe2417" data-name="Rectangle 66" x="399.94099" y="192.34088"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="add2b425-b775-4eb5-9c25-8c4c14f957c9" data-name="Rectangle 67" x="420.87784" y="192.34088"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="b7159612-3b84-4b0b-a885-612eaab04c06" data-name="Rectangle 68" x="441.81466" y="192.34088"
            width="71.07506" height="7.1626" fill="#8b6fc0" />
          <rect id="edfc7301-4de5-47dc-80e2-1ae2da982d6d" data-name="Rectangle 69" x="461.09859" y="207.76802"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="e1009f91-6275-4375-80fa-0d778e331fdc" data-name="Rectangle 70" x="420.87783" y="207.76802"
            width="29.75235" height="7.1626" fill="#8b6fc0" />
          <rect id="a060fb9f-1f1a-4862-9a69-16dd49199e18" data-name="Rectangle 71" x="399.941" y="207.76802"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="b6754d5f-104f-449c-b9a9-cf9ac82bf5fe" data-name="Rectangle 73" x="582.31189" y="207.76802"
            width="10.46842" height="7.1626" fill="#8b6fc0" />
          <rect id="e6ed1ccd-2cfd-450f-a339-07df3a1ee6bb" data-name="Rectangle 74" x="500.76841" y="207.76802"
            width="71.07506" height="7.1626" fill="#8b6fc0" />
        </g>
      </svg>

    </div>
    <p>کامپیوتر</p>
  </a>










  <a href="#" class="card human-resources">
    <div class="overlay"></div>
    <div class="circle">


      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="507.99631"
        height="486.46461" viewBox="0 0 507.99631 486.46461">
        <g>
          <path
            d="m339.28132,144.85552c-1.7577,2.08666-3.98893,3.72206-6.50814,4.76945l-7.21532,8.12517-20.43689,24.67773-13.80738,8.35194-6.41109-11.03715,30.26457-29.48015,8.43338-8.58048c.67621-2.64418,1.97584-5.08773,3.79079-7.1256,4.4675-5.16172,10.75245-7.03932,14.03602-4.19587,3.28421,2.84414,2.32391,9.33233-2.14593,14.49496Z"
            fill="#ffafaf" />
          <path
            d="m215.75649,169.37563l13.29016-22.11774,56.5433,24.29522,30.90638-25.25171s12.2617,10.56233,12.69962,10.93955-31.16616,44.15089-33.41028,44.09926c-2.24412-.05162-80.02919-31.96459-80.02919-31.96459Z"
            fill="#dedede" />
        </g>

        <g>
          <path
            d="m343.37799,0c40.25244,0,73,30.72852,73,68.5,0,10.55371-2.62939,21.05078-7.61865,30.46875h.06006l-1.32129,2.29688c-11.2124,19.31543-17.43848,41.3125-18.00342,63.61133-.17139,6.79785-5.6333,12.12305-12.43359,12.12305h-56.88623c-7.33008,0-13.48633-5.25439-14.6377-12.49316-2.80176-17.6123-8.40527-34.58301-16.65332-50.44238-11.93457-12.55957-18.50586-28.73633-18.50586-45.56445C270.37799,30.72852,303.12604,0,343.37799,0Zm62.35107,100.3291l.47314-.85156c5.34863-9.49414,8.17578-20.20605,8.17578-30.97754,0-36.66797-31.85059-66.5-71-66.5s-71,29.83203-71,66.5c0,16.3584,6.41016,32.08594,18.05078,44.28711l.16309.22852c8.38379,16.08594,14.07715,33.30469,16.91992,51.17676.99609,6.26221,6.32227,10.80762,12.66309,10.80762h56.88623c5.70703,0,10.29004-4.46875,10.43457-10.17383.57227-22.60645,6.87695-44.90723,18.2334-64.49707Z"
            fill="#3f3d56" />
          <path
            d="m384.93105,172.00015h-75.10596c-2.38802,0-4.26057,2.0505-4.04437,4.42871l.70322,7.73563c.58849,6.4735,2.63111,12.73056,5.97549,18.3044h0c.55924.93206,1.61518,1.44245,2.69433,1.31238,22.25527-2.68252,44.03088-2.77033,65.28482-.03885,1.16266.14942,2.29074-.44478,2.81498-1.49325l.48135-.9627c2.40753-4.81506,3.8933-10.03792,4.38068-15.39922l.85983-9.45839c.2162-2.37821-1.65635-4.42871-4.04437-4.42871Z"
            fill="#3f3d56" />
          <path
            d="m317.37807,198.50015h61.5v40.02791c0,7.15949-5.8126,12.97209-12.97209,12.97209h-35.55581c-7.15949,0-12.97209-5.8126-12.97209-12.97209v-40.02791h0Z"
            fill="#3f3d56" />
          <path
            d="m356.04202,262.00015h-13.32791c-1.466,0-2.84175-.70799-3.69384-1.90092l-8.6422-12.09908h38l-8.6422,12.09908c-.85209,1.19293-2.22785,1.90092-3.69384,1.90092Z"
            fill="#3f3d56" />
          <path
            d="m366.12615,35.32647c-9.78508,2.02614-19.57015,4.05229-29.35523,6.07843-4.40004.91109-9.32793,1.38395-13.32571,3.57071-3.87589,2.12009-6.59038,6.56839-5.20384,11.0215,1.32408,4.25251,5.23235,6.92014,9.42433,7.86845,4.65106,1.05217,9.63356,1.04475,14.37444,1.41071,4.9449.38171,9.8898.76341,14.8347,1.14512,2.35337.18166,4.71905.30711,7.06693.54884.751.07732,1.56979.16944,2.18644.64589-.0093-.00719.20836.12917.08769.15012-.02354.00409-.02548-.1543-.02207-.16491.09529-.29674.05612-.01596-.02075-.01525-.02699.00025-.73526.46812-1.13042.54199-1.06603.1993-2.24216.05431-3.32237.03591-2.34708-.03998-4.69541.00436-7.03935.13214-4.71747.25718-9.42845.84396-14.06835,1.73284-4.56402.87434-9.10646,2.03846-13.48968,3.58913-4.24986,1.5035-8.70105,4.35866-8.81664,9.39621-.10856,4.73132,3.996,8.0562,8.17609,9.24474,2.14995.6113,4.41565.83289,6.62081,1.16093,2.46033.366,4.92067.732,7.381,1.098,4.83866.7198,9.67731,1.4396,14.51597,2.15939,2.46033.366,4.92067.732,7.381,1.098,1.14726.17067,2.30106.3178,3.44447.5124.42158.07175.8192.20433,1.23503.28965-.27921-.05729.06722-.05682.01.00821.18217.11163.18258.09478.00123-.05057l-.12357-.18156c-.28234-.79255-.27258-.89695.2426-1.8342.09836-.17895.29818.00572.04346-.02243-.27188-.03004.16303-.03404-.12656.08556-.14478.05979-.30217.10049-.45291.14219-1.13922.31519-2.33285.47986-3.4924.70755-2.41053.47332-4.82107.94664-7.2316,1.41996-4.74071.93086-9.48148,1.86146-14.22214,2.79259-8.35115,1.64029-17.22027,3.8587-22.225,11.39391-1.08873,1.63921-1.87883,3.52803-2.27347,5.45482-.3248,1.58578.45984,3.24097,2.09532,3.69036,1.48351.40763,3.36372-.50056,3.69036-2.09532,1.58533-7.74015,10.055-10.51989,17.02006-11.99627,4.61722-.97871,9.26281-1.83505,13.89412-2.74444,4.66759-.91651,9.40939-1.66266,14.0371-2.76137,1.9455-.4619,4.05633-1.65799,4.60012-3.7324.59537-2.27118-.52565-4.46368-2.5843-5.52174-1.97445-1.01478-4.3215-1.09484-6.47893-1.41577-2.37832-.3538-4.75665-.7076-7.13497-1.0614-4.83866-.7198-9.67731-1.4396-14.51597-2.15939-2.37832-.3538-4.75665-.7076-7.13497-1.0614-2.20524-.32805-4.47061-.54956-6.62081-1.16093-1.45474-.41363-2.94324-1.12339-3.58581-2.50851-.20717-.44658-.26047-.7716-.119-1.27388.19418-.68946.73416-1.33156,1.3351-1.80673,1.38526-1.09533,3.26028-1.58401,4.90692-2.1123,2.16064-.6932,4.34524-1.31168,6.54859-1.85409,4.37442-1.07688,8.82057-1.86498,13.30492-2.30181,2.33636-.22759,4.68064-.37227,7.02727-.43316,2.22033-.05761,4.44462.07999,6.66212.0113,2.36368-.07321,4.7965-.70515,6.41923-2.53748,1.66997-1.88567,2.07596-4.4605.91412-6.72101-2.29915-4.47333-8.39123-4.03382-12.63808-4.36164-4.86248-.37534-9.72497-.75069-14.58745-1.12603-4.54681-.35098-9.22151-.4249-13.72887-1.12463-1.66926-.25914-3.59306-.73621-4.85191-1.73087-1.15405-.91186-1.9032-2.10742-1.81149-3.30544.08531-1.1144,1.22331-2.34531,2.41464-3.02936,1.67141-.95972,3.64349-1.31787,5.51016-1.70703,9.60699-2.00283,19.21945-3.97979,28.82914-5.96962,2.36473-.48965,4.72945-.9793,7.09418-1.46895,1.58727-.32867,2.50472-2.20063,2.09532-3.69036-.45286-1.64789-2.09848-2.42494-3.69036-2.09532h0Z"
            fill="#6c63ff" />
        </g>
        <rect x="220.374" y="131.00008" width="19.65164" height="38.14729" fill="#ffafaf" />
        <path
          d="m272.4694,237.29842l-47.39512-3.46794s-19.65164,45.08316-4.62391,73.98263l10.40381,60.11088-4.11409,98.93814h21.52698l33.45017-159.04903-9.24783-70.51469Z"
          fill="#2f2e41" />
        <polygon
          points="263.22157 287.79173 281.71723 303.89042 272.4694 461.55826 251.66179 461.55826 263.22157 287.79173"
          fill="#2f2e41" />
        <circle cx="229.93432" cy="113.93163" r="24.56883" fill="#ffafaf" />
        <path
          d="m226.9916,443.38148l25.37943,4.0095,4.76997,18.20598s20.60701,7.75462,10.67776,16.18143c-9.92926,8.42681-46.61071,4.07002-49.5109-1.97463s8.68374-36.42227,8.68374-36.42227Z"
          fill="#2f2e41" />
        <path
          d="m247.79921,443.38148l25.37943,4.0095,4.76997,18.20598s20.60701,7.75462,10.67776,16.18143c-9.92926,8.42681-46.61071,4.07002-49.5109-1.97463-2.90019-6.04465,8.68374-36.42227,8.68374-36.42227Z"
          fill="#2f2e41" />
        <path
          d="m317.91302,233.38836c-2.72814.03013-5.42343-.59303-7.86116-1.81815l-10.86519-.16383-32.03545.62181-15.33933-5.01036,4.17817-12.06083,42.0881,3.68989,12.00513.78955c2.44471-1.2134,5.14429-1.82351,7.87283-1.77842,6.82654.01602,12.35101,3.55244,12.33967,7.89606-.01143,4.34454-5.554,7.85149-12.38277,7.83429Z"
          fill="#ffafaf" />
        <path
          d="m241.83597,145.39813h-24.32173l-8.04567,24.27555,15.60571,64.15681,47.39512,3.46794-2.88995-26.00952v-.00002c5.5955-9.09267,5.14898-20.66363-1.1306-29.29804l-26.61289-36.59272Z"
          fill="#dedede" />
        <path
          d="m218.7164,155.80194l25.43153-4.3658,18.49566,58.69679,39.30327,6.93587v16.76169c0,.57799-53.79192,5.2019-55.21743,3.46794-1.42552-1.73397-28.01302-81.49649-28.01302-81.49649Z"
          fill="#dedede" />
        <path
          d="m242.20224,99.6872c3.0182,4.89641.23544,11.34568-3.48262,15.73434s-8.5123,8.24091-10.17231,13.74806c-1.48833,4.93758-.13451,10.26267,1.61586,15.11355,1.75037,4.85088,3.9266,9.68736,4.10704,14.84122.18044,5.15386-2.25871,10.84543-7.11336,12.58531-4.9817,1.78542-10.8712-1.02037-15.66949,1.21154-6.24995,2.90715-7.66621,12.972-14.47977,14.01544-4.19317.64215-8.0793-2.99326-9.2512-7.07022-1.17191-4.07697-.33022-8.42859.51692-12.5852,2.32107-11.38866,4.64215-22.77731,6.96322-34.16597,1.93126-9.476,3.86253-18.952,5.79379-28.428,1.15307-5.65769,2.5212-11.70956,6.77327-15.61583,5.19577-4.77321,13.02743-4.88668,20.07709-4.60062,6.477.26282,13.21543.70598,18.85408,3.90382,5.63865,3.19784,9.7803,9.99526,7.82913,16.17697-1.82241-4.35077-7.26723-6.7915-11.72774-5.25714"
          fill="#2f2e41" />
      </svg>

    </div>
    <p>برق</p>
  </a>


</body>

</html>